.gallery {
  width: 1128px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 24px;
}

.gallery img {
  width: 360px;
  height: 200px;
}

.gallery img:hover {
  transform: scale(1.1);
}
